<p>First weapon in data:</p>
<pre
  style="overflow-y: scroll; max-height: 200px"
><code id="data-first-weapon"></code></pre>
<hr />

<p>Random weapon preview:</p>
<table border="1">
  <tr>
    <th>Name</th>
    <td><%= weaponsArr[0].name %></td>
  </tr>
  <tr>
  </tr>
  <tr>
    <th>Screenshot</th>
    <td><img src="https://www.bungie.net<%= weaponsArr[0].screenshot %>" width="200" /></td>
  </tr>
  <tr>
    <th>Frame</th>
    <td>
      <img id="data-weapon-frame-img" style="background: #666" />
      <div id="data-weapon-frame-text"></div>
    </td>
  </tr>
</table>